<!DOCTYPE html>
<html>
<head>
	<title>Mario Dominic</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

		<!-- nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="nav navbar-header">
				<ul>
					<a class="navbar-brand" href="/home/profile">Mario Dominic</a>
				</ul>
				
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/home/about">About Me</a></li>
					<li><a href="/home/gallery">Image Gallery</a></li>
					<li><a href="/home/projects">Projects</a></li>
					<li><a href="/home/certificates">Achievements</a></li>	
				</ul>
	
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/enquiry">Enquiries</a></li>
					<li><a href="/resume">CV</a></li>					
				</ul>
				
			</div>

		
				
		</div>
	</nav>

</body>
</html>