<%include ./partials/header.ejs%>

	<div class="container maintext">
	<div class="jumbotron">
		<div class="row">
		  <div class="col-md-8">
		  	<h1>About me</h1>
		  	<h2 class="page-header">Education</h2>
		  	<dl>
	 			<dt>Schooling</dt>
	  			<dd class="text-capitalize">St.Germain High school(ICSE)</dd>
	  			<dt>Pre-University</dt>
	  			<dd class="text-capitalize">St.Joseph's boys PU college</dd>
	  			<dt>Under Graduation</dt>
	  			<dd class="text-capitalize">B.E. in Information Science and Engineering</dd>
	  			<dd class="text-capitalize">@ Hkbk college of engineering</dd>
	  			<dt>Post Graduation</dt>
	  			<dd class="text-capitalize bg-info currpersue">M.Tech in Computer Networking</dd>
	  			<dd class="text-capitalize bg-info currpersue">@ University of visvesvaraya college of engineering (UVCE)</dd>
	  		</dl>

	  		<h2 class="page-header">Skills</h2>
	  		<dl>
	 			<dt>Embedded Systems and Internet of Things</dt>
	  			<dd class="text-capitalize"><ul class="skillset">
	  				<li>Smart Home Automation Systems</li>
	  				<li>Cloud/MQTT based Automated Gardening Systems</li>
	  				<li>Cloud/MQTT based Automated Water level control Systems</li>
	  				<li>Cloud/MQTT based Intrusion Detection and perimeter control Systems</li>
	  				
	  				<li>Espressif-Systems (esp 8266)</li>
	  				<li>Espressif-Systems (esp 32)</li>
	  				<li>Arduino Uno</li>
	  				<li>Multitude of sensors</li>
	  				<li>Lcd Display Systems</li>
	  			</ul></dd>

	  			<dt>Full Stack Web-Development (MEAN Stack)</dt>
	  			<dd class="text-capitalize"><ul>
	  				<li>Html 5</li>
	  				<li>Css 3</li>
	  				<li>Bootstrap 3</li>
	  				<li>Semantic UI</li>
	  				<li>Jquery and Angular JS</li>
	  				<li>NodeJS and Express</li>
	  				<li>Mongoose</li>
	  			</ul></dd>
	  			<dt>Database Systems</dt>
	  			<dd class="text-capitalize">MongoDB</dd>
	  			<dt>Musical Instruments</dt>
	  			<dd class="text-capitalize">Acoustic Guitar</dd>
	  		</dl>


		  </div>
		  
		  <div class="col-md-4">
		  	<img src="/references/myself1.jpg" class="img-responsive img-thumbnail">
		  	<div>
		  	<address>
				  <strong>Ashirwad</strong><br>
				  No.11, 3rd cross, 6th main <br>
				  Shamanna Layout,Banaswadi<br>
				  Bangalore- 560043.<br><br>
				  <abbr title="email">@:</abbr>mdominic7@gmail.com 
				</address>
			</div>	
		  </div>
		</div>
	</div>
	</div>



<%include ./partials/footer.ejs%>