<%include ./partials/header2.ejs%>

	<div class="container maintext">
		<div class="jumbotron">
			<h1>Certificates</h1>
			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">NPTEL Online Certification </h2><hr>
			<h2 class="text-capitalize text-justify">Introduction to modern application development</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/nptel.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">Udemy Online Certification </h2><hr>
			<h2 class="text-capitalize text-justify">Web developer bootcamp</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/webbootcamp.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">CMR INSTITUTE OF MANAGEMENT STUDIES </h2><hr>
			<h2 class="text-capitalize text-justify">National Conference</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/cmrit.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">Advanced Computing and Communications Conference @ PESU</h2><hr>
			<h2 class="text-capitalize text-justify">ARM student design challenge</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/pesu.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">DST and Texas Instruments Inc.</h2><hr>
			<h2 class="text-capitalize text-justify">India innovation challenge 2016</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/TI_cert.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

            <!-- Put ur certificates here -->
			<h2 class="page-header text-center">Smart India Hackathon</h2><hr>
			<h2 class="text-capitalize text-justify">SIH-2018 Software Edition</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/SIH.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">Intellectual Property Rights Workshop</h2><hr>
			<h2 class="text-capitalize text-justify">1-Day IPR Workshop</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/IPR.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">Microsoft Robotics Developer</h2><hr>
			<h2 class="text-capitalize text-justify">RoboAVR 2 day workshop</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/robot.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->

			<!-- Put ur certificates here -->
			<h2 class="page-header text-center">Finetsa Technologies</h2><hr>
			<h2 class="text-capitalize text-justify">Arduino Basics Workshop</h2>
			<div class="row">
				  <div class="col-md-12">
				  	<img src="/references/arduino.jpg" class="img-responsive img-thumbnail">
				  </div>
			</div>
			<!-- end here -->
		</div>
	</div>

<%include ./partials/footer.ejs%>		