<%include ./partials/header2.ejs%>

	<div class="container maintext">
		<div class="jumbotron">
			<h2 class="page-header text-center">Whoopsie! my CV isn't ready yet...please check back later </h2>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				  	<img src="/references/smiley.jpg" class="img-responsive">
				  </div>
			</div>
		</div>
		</div>
			<%include ./partials/footer.ejs%>	