<%include ./partials/header2.ejs%>

<div class="container maintext">
	<div class="jumbotron">
	  <h1>Hello there!</h1>
	  <div>
	  <p class="lead">Welcome to my portfolio site</p>
	  <p>Please feel free to navigate to any of the links provided to know more about me and more about what i do....</p>
	  </div>
	  <div>
	  	<p></p>
	  </div>
	  <p><a class="btn btn-primary btn-lg" href="/home/about" role="button">Know me better</a></p>
	  <a href="https://github.com/mdominic7"><i class="fab fa-github fa-3x" style="color:#6e5494"></i></a>
	  <a href="https://my.playstation.com/profile/Funnier_Tomb0"><i class="fab fa-playstation fa-3x" style="color:#003791"></i></a>
	  <a href="https://www.youtube.com/user/mdominic7/"><i class="fab fa-youtube fa-3x" style="color:#c4302b"></i></a>
	  <a href="https://plus.google.com/u/0/+MarioDominic"><i class="fab fa-google-plus-square  fa-3x" style="color:#dd4b39"></i></a>
	</div>
</div>
<%include ./partials/footer.ejs%>