<%include ./partials/header.ejs%>

	<div class="container maintext">
		<div class="jumbotron">
			<h1>Projects</h1>
			<p>I have worked on a lot of projects, some of the notable ones are listed below</p>
			<!--projectdetails -->
				<h2 class="page-header text-center">B.E. Final Year Project</h2><hr>
				<h2 class="text-capitalize text-justify">Advanced active detection and prevention of water leakage in concealed pipes</h2>
				<div class="text-justify">
					<p>The proposed project involves active detection of water leakage in fluid pipelines either in the industries or in a concealed/underground environment. </p>
					<p>On detection, it stops the leakage at the mouth of the faulty pipe by the use of solenoid valves.</p>
					<p>The Proposed Solution Makes use of flow sensors attached to every end of the pipe to detect the continuity of fluid in the pipes. The system logs all the data to a remote server and also reports its findings to the administrator via the control panel UI that is provided over a webURL. From there, the user can give commands to stop or resume the flow of water in the pipeline.</p>
				</div>
				<div class="row">
				  <div class="col-md-6">
				  	<img src="/references/WLDS2.jpg" class="img-responsive img-thumbnail">
				  </div>
				  <div class="col-md-6">
				  	<img src="/references/WLDS4.jpg" class="img-responsive img-thumbnail">
				  </div>
				  <div class="col-md-6">
				  	<img src="/references/WLDS3.jpg" class="img-responsive img-thumbnail">
				  </div>
				  <div class="col-md-6">
				  	<img src="/references/WLDS1.jpg" class="img-responsive img-thumbnail">
				  </div>
				</div>
			<!-- end of prject	 -->


		</div>
	</div>

<%include ./partials/footer.ejs%>		